* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;

}

.header,
.first-section,
.footer {
    background-color: #1F2937;
    color: white;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

a,
.text {
    font-size: 18px;
    color: #e5e7eb;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.button-one,
.fourth-section {
    background-color: #3882f6;
}

.informaton {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.third-section  {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    gap: 20px;
    padding: 0 150px;
    padding-top: 20px;
}

.first-section {
    display: flex;
    margin-top: 0;
    padding: 80px 150px;
    justify-content: space-between;
    gap: 100px;
    
}

.text-part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    
    
}

.image0 {
    width: 50%;
}

.button-one {
    align-self: flex-start;
    color: white;
    padding: 8px 30px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.images-subtext {
    display: flex;
    justify-content: space-around;
    margin: 0 260px;
    gap: 30px; 
    margin-bottom: 100px;
    

    
}

.information {
    text-align: center;
    margin: 40px;
}

.image1,
.image2,
.image3,
.image4 {
    width: 155px;
    height: 155px;
    border: solid rgb(41, 118, 219) 3px;
    border-radius: 15px;
}

.subtext1,
.subtext2,
.subtext3,
.subtext4 { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 155px;
    justify-content: center;
    text-align: center;
    gap: 8px;
}

.third-section {
    padding: 100px 260px;
}

.quote {
    width: 100%;
}

h4 {
    text-align: right;
    font-size: 25px;
}

.fourth-section {
    color: white;
    border-radius: 10px;
    display: flex;
    margin: 70px 180px;
    padding: 35px 80px;
    justify-content: space-between;
}

.button-two {
    background-color: #3882f6;
    color: white;
    padding: 5px 30px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
    border: solid white;
    height: 40px;      
}

.footer {
    text-align: center;
    padding: 30px 0;
}
